<div class="container">
    <div class="row">
      <div class="col-12 div-center">
        <button type="button" class="btn btn-info btn-info-margin" [routerLink]="[ '/nuevopasajero' ]" routerLinkActive="active">Crear pasajero</button>
        <table class="table table-bordered table-center">
          <thead>
            <tr>
              <th scope="col">Cedula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Edad</th>
              <th scope="col">Correo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pasajero of pasajeros;">
              <th scope="row">{{pasajero.idPasajero}}</th>
              <td>{{pasajero.nombre}}</td>
              <td>{{pasajero.apellido}}</td>
              <td>{{pasajero.edad}}</td>
              <td>{{pasajero.correo}}</td>
              <td>
                <button type="button" class="btn btn-success" [routerLink]="[ '/editarpasajero/', pasajero.idPasajero, pasajero.nombre, pasajero.apellido, pasajero.edad, pasajero.correo ]" routerLinkActive="active">Editar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarPasajero(pasajero.idPasajero)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  