<div class="container">
    <div class="row">
      <div class="col-12 div-center">
        <button type="button" class="btn btn-info btn-info-margin" [routerLink]="[ '/nuevopasajero' ]" routerLinkActive="active">{{"crearpasajero" | translate}}</button>
        <table class="table table-bordered table-center">
          <thead>
            <tr>
              <th scope="col">{{"cedula" | translate}}</th>
              <th scope="col">{{"nombre" | translate}}</th>
              <th scope="col">{{"apellido" | translate}}</th>
              <th scope="col">{{"edad" | translate}}</th>
              <th scope="col">{{"correo" | translate}}</th>
              <th scope="col">{{"acciones" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pasajero of pasajeros;">
              <th scope="row">{{pasajero.idPasajero}}</th>
              <td>{{pasajero.nombre}}</td>
              <td>{{pasajero.apellido}}</td>
              <td>{{pasajero.edad}}</td>
              <td>{{pasajero.correo}}</td>
              <td>
                <button type="button" class="btn btn-success" [routerLink]="[ '/editarpasajero/', pasajero.idPasajero, pasajero.nombre, pasajero.apellido, pasajero.edad, pasajero.correo ]" routerLinkActive="active">{{"editar" | translate}}</button>
                <button type="button" class="btn btn-danger" (click)="eliminarPasajero(pasajero.idPasajero)">{{"eliminar" | translate}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  