.div-form-control{
    width: 50% !important;
}

.container-center{
    text-align: -webkit-center;
}

.span-form{
    width: 80px;
    background-color: #80bbda;
}

.btn-form-control{
    background-color: #80bbda;
}