
<div class="container">
    <div class="row">
      <div class="col-12 div-center">
        <button type="button" class="btn btn-info btn-info-margin" [routerLink]="[ '/nuevovuelo' ]" routerLinkActive="active">{{"crearvuelo" | translate}}</button>
        <table class="table table-bordered table-center">
          <thead>
            <tr>
              <th scope="col">{{"vuelo" | translate}}</th>
              <th scope="col">{{"origen" | translate}}</th>
              <th scope="col">{{"destino" | translate}}</th>
              <th scope="col">{{"fsalida" | translate}}</th>
              <th scope="col">{{"fllegada" | translate}}</th>
              <th scope="col">{{"acciones" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let flight of flights;">
              <th scope="row">{{flight.idVuelo}}</th>
              <td>{{flight.origen}}</td>
              <td>{{flight.destino}}</td>
              <td>{{flight.fechaSalida}}</td>
              <td>{{flight.fechaLlegada}}</td>
              <td>
                <button type="button" class="btn btn-primary" [routerLink]="[ '/verpasajerosvuelo/', flight.idVuelo ]" routerLinkActive="active">{{"ver" | translate}}</button>
                <button type="button" class="btn btn-success" [routerLink]="[ '/editarvuelo/', flight.idVuelo , flight.origen, flight.destino, flight.fechaSalida, flight.fechaLlegada ]" routerLinkActive="active">{{"editar" | translate}}</button>
                <button type="button" class="btn btn-danger" (click)="eliminarVuelo(flight.idVuelo)">{{"eliminar" | translate}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  